.homeWhyWorkwithUsWr{
    background-color: #fff;
}

.wrapper{
    max-width: 1320px;
    margin: 0 auto;
}

.h3textWr{
    padding: 0px 25px;
}

.h3text{
    color: #000;
    font-family: Poppins;
    font-size: 84px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -3.36px;
    text-align: center;
    margin: 0px;
    padding-top: 40px;
    padding-bottom: 60px;
}

.cardBox{
    padding: 20px;
    max-width: 33.33%;
    width: 33%;
    border-radius: 8px;
    transition: all .5s;
    border: 2px solid #ffffff00;
}

.cardBox:hover{
    background: #f3fbff;
    border: 2px solid #077FC8;
    margin-top: -20px;
    margin-bottom: 20px;
    transition: all .5s;
}

.h4CardText{
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin: 0px;
}

.pCardText{
    color: #505050;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    margin: 0px;
    padding-top: 8px;
}

.textCardWr{
    display: flex;
    padding-bottom: 60px;
}