@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    margin: 0px;
}

/* slick slider custom css */

.card23 .slick-slide > div {
    margin: 0 10px;
}

.card23 .slick-list {
    padding-bottom: 12px !important;
}

.card23 .slick-prev:before {
    content: " " !important;
    background: url(/assets/images/homepage/left_blue_circle_btn.svg) !important;
    background-size: cover !important;
    position: absolute !important;
    width: 44px !important;
    height: 44px !important;
    transform: translateY(-100%) !important;
    transition: ease-in-out 0.4s all !important;
}

.card23 .slick-next:before {
    content: " " !important;
    background: url(/assets/images/homepage/right_blue_circle_btn.svg) !important;
    background-size: cover !important;
    position: absolute !important;
    width: 44px !important;
    height: 44px !important;
    transform: translateY(-100%) !important;
    transition: ease-in-out 0.4s all !important;
}

.card23 button.slick-arrow.slick-prev {
    z-index: 1;
}

.card23 .slick-slider {
    max-width: 97%;
    margin: 0 auto;
}

.card23 .slick-next {
    right: 18px;
}

/* #### */


.logoSlider .slick-slide > div {
    margin: 0 10px;
}

.logoSlider .slick-list {
    padding-bottom: 12px !important;
}

.logoSlider .slick-prev:before {
    content: " " !important;
    background: url(/assets/images/homepage/ring_left_arrow.svg) !important;
    background-size: cover !important;
    position: absolute !important;
    width: 44px !important;
    height: 44px !important;
    transform: translateY(-50%) !important;
    transition: ease-in-out 0.4s all !important;
}

.logoSlider .slick-next:before {
    content: " " !important;
    background: url(/assets/images/homepage/ring_right_arrow.svg) !important;
    background-size: cover !important;
    position: absolute !important;
    width: 44px !important;
    height: 44px !important;
    transform: translateY(-50%) !important;
    transition: ease-in-out 0.4s all !important;
}

.logoSlider button.slick-arrow.slick-prev {
    z-index: 1;
}

.logoSlider .slick-slider {
    max-width: 97%;
    margin: 0 auto;
}

.logoSlider .slick-next {
    right: 18px;
}

.logoSlider .slick-prev.slick-disabled:before, .logoSlider .slick-next.slick-disabled:before, .logoSlider .slick-prev:before, .logoSlider .slick-next:before {
    opacity: 1 !important;
}